@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding: 0;
    background: #FDF5E6;
    color: #37454b;
}

#root {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #2b626f77;
}


::-webkit-scrollbar-thumb:hover {
    background: #2d768696;
}


::-webkit-scrollbar-button {
    display: none;
}