.circuit-container {
  text-align: center;
  margin: 1rem 0;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.register-value {
  position: absolute;
  z-index: 50;
  font-size: 1vw; 
}

.register-value.t0 {
  top: 22.3%;
  left: 38.6%;
}

.register-value.t1 {
  top: 27.9%;
  left: 38.6%;
}

.register-value.t2 {
  top: 33.5%;
  left: 38.6%;
}

.register-value.t3 {
  top: 39.3%;
  left: 38.6%;
}

.register-value.t4 {
  top: 45%;
  left: 38.6%;
}

.register-value.t5 {
  top: 50.6%;
  left: 38.6%;
}

.register-value.t6 {
  top: 56.3%;
  left: 38.6%;
}

.register-value.t7 {
  top: 62%;
  left: 38.6%;
}