.Debugger {
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 20px;
    max-width: 400px;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #688288;
}

.Debugger h2 {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 1.5rem;
    color: #3a7b8b;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.control-buttons button {
    padding: 10px;
    background-color: #24b4fb;
    border: 2px solid #24b4fb;
    border: none;
    cursor: pointer;
    max-height: 40px;
    border-radius: 0.9em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-buttons button:hover {
    background-color: #2d95df;
}

.control-buttons svg {
    width: 24px;
    height: 24px;
}

#debugger-info {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
    

}

#debugger-info p {
    margin: 0.5rem 0;
    border-radius: 8px;
    padding: 0.5rem;
    background: #ebeeee;
    color: #3a7b8b;
    font-weight: 400;
    border: 2px solid #688288;
}